@font-face{
	font-family:'Source Serif Pro Black';
	src:url('../font/SourceSerifPro-Black.woff') format('woff');
}
@font-face{
	font-family:'Source Serif Pro Bold';
	src:url('../font/SourceSerifPro-Bold.otf');
}
@font-face{
	font-family:'SourceSerifPro-ExtraLight';
	src:url('../font/SourceSerifPro-ExtraLight.otf');
}
@font-face{
	font-family:'Source Serif Pro Light';
	src:url('../font/SourceSerifPro-Light.otf');
}
@font-face{
	font-family:'SourceSerifPro-Regular';
	src:url('../font/SourceSerifPro-Regular.otf');
}
@font-face{
	font-family:'SourceSerifPro-Semibold';
	src:url('../font/SourceSerifPro-Semibold.otf');
}
@font-face{
	font-family:'SourceSansPro-Light';
	src:url('../font/SourceSansPro-Light.woff');
}
@font-face{
	font-family:'SourceSansPro-ExtraLight';
	src:url('../font/SourceSansPro-ExtraLight.woff');
}
@media only screen and (max-width: 768px) {
	.text1-EN{
		font-size:18px !important;
		font-family:var(--regular-font-EN);
		color: #6A7174;
	}
	.text2-EN{
		font-size:16px !important;
		font-family:var(--regular-font-EN);
		color: #8E9496;
	}
	.text2-blod-EN{
		font-size:16px !important;
		font-family:var(--regular-font-EN);
		color: #3292AA;
	}
	.value-text2-blod-EN{
		font-size:16px !important;
		font-family:var(--Light-font-EN);
		color: #3292AA;
	}
	.value-text2-EN{
		font-size:16px !important;
		font-family:var(--Light-font-EN);
		color: #6A7174;
	}
	.text3-EN{
		font-size:12px !important;
		font-family:var(--regular-font-EN);
		color: #6A7174;
		padding: 0 !important;
	}
	.footer-icon-EN{
		font-size:12px !important;
		font-family:var(--regular-font-EN);
		color: #6A7174;
		padding: 0 !important;
		border-bottom: 0px !important;        
	}
	.head3-EN{
		font-family:var(--regular-font-EN); 
		color: #324349;
		font-size: 16px !important;
    font-weight: bold;
	}  
	.head3-light-EN{
		font-family:var(--regular-font-EN);
		color: #8E9496;
		font-size: 16px !important;
	}
	.head2-EN{
		font-family:var(--regular-font-EN);
		color: #8E9496;
		font-size: 20px !important;
	}
    .h1-EN{
        color:#8E9496;
        font-size: 32px !important;
        font-family:var(--ExtraLight-font-EN);
    }
    .h2-EN{
        color:#324349;
        font-size: 24px !important;
        font-family:var(--Light-font-EN);
	}
    .footer-title-EN{
		font-family:var(--regular-font-EN);
		font-size:16px !important;
		}
		.app-item-pic-right-EN{
			margin-top: 48px;
			position: static !important;
			right: 0;
			top: 0;
			transform: translate(0,0%) !important;
		}
		.app-item-pic-left-EN{
			margin-top: 48px;
			position: static !important;
			right: 0;
			top: 0;
			transform: translate(0,0%) !important;    
		}
		.Quote-EN{
			color: #3292AA;
			font-family:var(--regular-font-EN);
			font-size: 18px !important;
		}
		.h25-EN{
			color: #8E9496;
			font-family:var(--regular-font-EN);
			font-size: 18px !important;
		}
}
@media only screen and (min-width:769px) and (max-width: 1400px) {
	.text2-EN{
		font-size:16px !important;
		font-family:var(--regular-font-ZH);
		color: #8E9496;
	}	
	.text2-EN-blod{
		font-size:16px !important;
		font-family:var(--regular-font-ZH);
		color: #324349;    
	}
	.head3-EN{
		font-size: 16px !important;
	}
  .h2-EN{
		font-size: 26px !important;
	}
}
	.Quote-EN{
		color: #3292AA;
		font-family:var(--regular-font-EN);
		font-size: 24px;
	}
	.h25{
		color: #8E9496;
		font-family:var(--regular-font-EN);
		font-size: 22px;
		font-weight: 700;
	}
  .footer-title-EN{
	font-family:var(--regular-font-EN);
	font-size:18px;
  }
  .footer-icon-EN{
	font-size:16px;
	font-family:var(--regular-font-EN);
	color: #6A7174;
	border-bottom: 0px !important;
  }
  .text1-EN{
	font-size:24px;
	font-family:var(--regular-font-EN);
	color: #6A7174;
  }
  .text2-EN{
	font-size:18px;
	font-family:var(--regular-font-EN);
	color: #8E9496;
  }
  .text2-blod-EN{
	font-size:18px;
	font-family:var(--regular-font-EN);
	color: #3292AA;
  }
  .value-text2-EN{
	font-size:18px;
	font-family:var(--Light-font-EN);
	color: #6A7174;
	text-align: left;
  }
  .value-text2-blod-EN{
	font-size:18px;
	font-family:var(--Light-font-EN);
  color: #3292AA; 
  }
  .text3-EN{
	font-size:14px;
	font-family:var(--regular-font-EN);
  color: #8E9496;
  }
  .head2-EN{
	font-family:var(--regular-font-EN);
	color: #8E9496;
	font-size: 30px;    
  }
  .head3-EN{
	font-family:var(--regular-font-EN);
	color: #6A7174;
	font-size: 18px;
	font-weight: bold;
  }
  .head3-light-EN{
	font-family:var(--regular-font-EN);
	color: #8E9496;
	font-size: 20px;
  }
  .head-font-EN{
    font-family:var(--regular-font-EN);
  }
  .secondTitle-font-EN{
	font-family:var(--regular-font-EN);
  }
  .h1-EN{
		color: #324349;
	font-size: 46px;
	font-family:var(--ExtraLight-font-EN);
  }
  .h2-EN{
		color:#3292AA;
	font-size: 32px;
	font-family:var(--Light-font-EN);
	line-height: 1.4;
  }
  .link-font{
	font-family:var(--regular-font-EN);
  }
  .button-font{
	font-family:var(--regular-font-EN);
  }
  .firstTitle-font-EN{
    color:#324349;
	}
	
	.app-item-pic-right-EN{
		position: absolute;
    right: 8.333%;
    top: 50%;
    transform: translate(0,-50%);
	}
	.app-item-pic-left-EN{
		position: absolute;
    left: 8.333%;
    top: 50%;
    transform: translate(0,-50%);      
	}