<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><{if isset($page.seotitle) and !empty($page.seotitle)}><{$page.seotitle}><{/if}></title>
    <meta name='keyword' content='<{if isset($page.keywords) and !empty($page.keywords)}><{$page.keywords}><{/if}>'>
    <meta name='description' content='<{if isset($page.description) and !empty($page.description)}><{$page.description}><{/if}>'>
    <{include file="library/inMeta.html" }>
    <link rel="stylesheet" href="<{TEMPLE}>css/NanumSquare-master/nanumsquare.css">
    <link rel="stylesheet" type="text/css" href="<{TEMPLE}>css/main.css">
</head>
<style>
	#testont .bounty-info{
		max-width:623px;
		font-size:16px;
		font-family:SourceSansPro-Regular,sans-serif;
		color:rgba(170,179,180,1);
		line-height:24px;
		margin: 0 auto;
		margin-top:16px;
	}
	#testont .bounty-info:first-child{
		margin-top:16px;
	}
</style>
</head>
<body style="background:#001b1e">
 <{include file="library/bheader.html" }>  
<section id="testont">
    <div class="container">
        <div class="row">
            <form id="app-form" action="" method="post" onsubmit="return false;">
            	 <input type="hidden" value="<{if isset($article['id'])}><{$article['id']}><{/if}>" id="claimId" name="claimId">
            	  <input type="hidden" value="<{if isset($article['title'])}><{$article['title']}><{/if}>" id="claimName" name="claimName">
                <h1 class="app-title"><{if isset($article['title'])}> <{$article.title}><{/if}></h1>
                <!--<p class="bounty-info" style="margin-top:33px;">
					Integration with Trezor ONE and model T.
				</p>
                <p class="bounty-info">
					Trezor Core is written in Python and is the main software development project for the future. Any integrations should, therefore, be aimed toward this system. Now for the general conditions of Trezor Core integration, there are several requirements:
				</p>
                <p class="bounty-info">
					1. The code needs to be written by the community or by the project developers. The Trezor team does not have enough resources to integrate various alternative currencies/features by itself.
				</p>
                <p class="bounty-info">
					2.The code needs to pass our internal QA and security tests before being integrated into the official firmware. It is therefore advised to keep in touch with us throughout the development. Appropriate channels of communication will be provided.
				</p>-->
				 <div class="bounty-info">
				 <{if isset($article['body'])}><{$article.body}><{/if}>
				</div>
                <div class="row person-info" style="margin-top:32px;">
                    <div class="col-sm-6">
                        <label class="app-label app-name">Name<input type="text" name="username"><span class="required"></span></label> 
                    </div>
                    <div class="col-sm-6">
                        <label class="app-label app-email" >Email<input type="text" name="useremail"><span class="required"></span></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="app-label app-git" >GitHub Repository Address (Optional)<input type="text" name="usergit"></label>
                    </div>
                    <div class="col-sm-6">
                        <label class="app-label app-time" >Completion Time (MM/DD/YYYY)
							<br>
							<input type="text" style="width:56px;margin-right:12px;" name="usertime_m" placeholder="MM" AUTOCOMPLETE="OFF" maxlength="2">
							<input type="text" style="width:56px;margin-right:12px;" name="usertime_d" placeholder="DD" AUTOCOMPLETE="OFF" maxlength="2">
							<input type="text" style="width:66px;" name="usertime_y" placeholder="YYYY" AUTOCOMPLETE="OFF" maxlength="4">
						</label>
                    </div>
                    <div class="col-sm-12">
                        <label class="app-label app-team">Team
                            <textarea name="userteam" id="" style="height:160px;" placeholder="Please describe your team" ></textarea>
                            <span class="required"></span>
                        </label>
                    </div>
                    <div class="col-sm-12">
                        <label class="app-label app-plan">Plan
                            <textarea name="userplan" id="" style="height:160px;" placeholder="Please describe your plan of attack." ></textarea>
                            <span class="required"></span>
                        </label>
                    </div>
                </div>
                <div class="app-submit">
                    <button class="app-btn btn-bblue" type="button" onclick="self.location=document.referrer;">Back</button>
                    <input id="submitBtn" class="app-btn btn-blue"  type="submit" value="Apply">
                </div>
            </form>
            <section class="straight-line"></section>
        </div>
    </div>
</section>
<{include file="library/bfooter.html" }>  
<script src="<{TEMPLE}>js/jquery.validate.min.js"></script>
<script>
    $(document).ready(function(){
	    //按钮先执行验证再提交表单
	    $("#submitBtn").click(function(){ 
	    	if($("#app-form").valid()){
	           $.ajax({  
	             url:'bounty_form',
	             type:'post',
	             data:$("#app-form").serialize(),
	             dataType:'json',
	             success:function(res){
	             	console.log(res);
	             	if(res.state=='403'){
	                     login_ajax('index');
	                     return false;
	                   }
	                 if(res.state){
	                      window.setTimeout("window.location.href='<{base_url('index.php/index/bounty_success')}>'", 1000);
	                 }else {
	                     alert(res.msg);
	                 }
	             }
	           })
	      }
	    });
	    $("#app-form").validate({
	            errorPlacement: function(error, element){
	                var error_td = element.siblings('span.required');
	                error_td.append(error);
	            },
	            rules : {
	                username: {
	                    required : true, 
	                },
	                useremail:{
						required : true, 
						email : true
	                }, 
	                userteam:{
	                    required : true, 
	                }, 
	                userplan:{
	                    required : true, 
	                }, 
					usertime_m:{
						range:[1,12]
					},
					usertime_d:{
						range:[1,31]
					},
					usertime_y:{
						range:[1000,9999]
					},
	               
	            },
	            messages : {
	                username: {
	                    required : 'Required field',
	                },
	                useremail: {
						required : 'Required field',
						email:'Please enter the correct email address'
	                },
	                userteam: {
	                    required : 'Required field',
	                },
	                userplan: {
	                    required : 'Required field',
	                },
					usertime_m:{
						range:'Please enter the correct month'
					},
					usertime_d:{
						range:'Please enter the correct date'
					},
					usertime_y:{
						range:'Please enter the correct year'
					},
				
	            }
	        }); 
	});
	

</script>
</body>
</html>
