<%include header.ejs%>
		<main id="main" class="main">
			<div class="inner">
				<h3 ng-bind="language.d23"></h3>

				<ul>
					<li>
						<a style="cursor:pointer;color:#fff"  target="view_window" href="{{language.d156}}" download="{{language.d157}}">
							<p ng-bind="language.d24" ></p>
							<div class="posi"></div>
					    </a>
					</li>
					<li>
						<a style="cursor:pointer;color:#fff"  target="view_window" href="{{language.d158}}" download="{{language.d159}}">
							<p ng-bind="language.d25"></p>
						    <div class="posi"></div>
					    </a>
					</li>
					<li>
						<a style="cursor:pointer;color:#fff"  target="view_window" href="{{language.d160}}" download="{{language.d161}}">
							<p ng-bind="language.d26" ></p>
						    <div class="posi"></div>
					    </a>
					</li>
					<li>
						<p  ng-bind="language.d27"></p>
						<div class="posi"></div>
					</li>
					<li>
						<p ng-bind="language.d28"></p>
						<div class="posi"></div>
					</li>
				</ul>
				<div class="github">
					<img src="images/developer/04.jpg"/>
					<a href="javascript:">github</a>
				</div>
				<div class="opendoc" >
					<img src="images/developer/04.jpg"/>
					<a href="{{language.d170}}" ng-bind="language.d169"></a>
				</div>
			</div>
		</main>
<%include footer.ejs%>
