<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		  <title>ECMS管理系统 |用心服务 思微知著 </title>
		  <{include file="library/Hlink.html" }>
		 <link href="<{HTTPROOT}>plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		
	</head>

	<body class="nav-md">
		<div class="container body">
			<div class="main_container">
				<!-- page content -->
				<div class="right_col" role="main">
					<div class="">
						<div class="clearfix"></div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">

									<!-- Example Events -->
									            <div class="ibox float-e-margins" >
									                <div class="ibox-content">
									                        <div class="row row-lg">
									                            <div class="col-sm-12">
									                                <!-- Example Events -->
									                                <div class="example-wrap">
									                                        <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
									                                            <button type="button" id="add" class="btn btn-outline btn-primary">
									                                                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> 新增
									                                            </button>
									                                        </div>
									                                        <table id="exampleTableEvents" data-height="400px" >
									                                        </table>
									                                </div>
									                                <!-- End Example Events -->
									                            </div>
									                        </div>
									                    </div>                
									            </div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- /page content -->

		<!-- footer content -->
		<{include file="library/Copyright.html" }>
			<!-- /footer content -->
			</div>
			</div>
			<{include file="library/Flink.html" }>

	</body>
	<!-- Bootstrap table -->
	<script src="<{HTTPROOT}>plugins/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="<{HTTPROOT}>plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
	<script src="<{HTTPROOT}>plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
	<script>
(function() {
    var $table = $('#exampleTableEvents'),   
        $button = $('.delete-group'); /*批量删除按钮*/
    $(function () {
        $button.click(function () {
            var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.log_id;
            });
            $table.bootstrapTable('remove', {
                field: 'id',
                values: ids
            });
        });
    });
    function operateFormatter(value, row, index) {  
        return [  
            '<button id="btn_detail" type="button" class="btn btn-default">删除</button>',  
            '<button id="btn_edit" type="button" class="btn btn-default">编辑</button>',  

        ].join(''); 
    }
    window.operateEvents = {
        'click #btn_detail': function (e, value, row, index) {
            alert(123);
        }
    };
    $("#del").click(function(){
        deleteLogList();
    })
    $("#add").click(function(){
       editItem(0);
    })
    //批量删除  
     function deleteLogList() {  
        //获取所有被选中的记录  
        var rows = $("#exampleTableEvents").bootstrapTable('getSelections');  
        if (rows.length== 0) {  
            layer.msg("请先选择要删除的记录!");  
            return;  
        }  
        var ids = '';  
        for (var i = 0; i < rows.length; i++) {  
            ids += rows[i]['log_id'] + ",";  
        }  

        ids = ids.substring(0, ids.length - 1);  
        deleteItem(ids);  
    }
    
    $('#exampleTableEvents').bootstrapTable({
        url: "role",
        queryParams: function (params) {
            return {
                offset: params.offset,  //页码
                limit: params.limit,   //页面大小
                search : params.search, //搜索
                order : params.order, //排序
                ordername : params.sort, //排序
            };
        },
        method:"post",
        search: true,
        contentType:"application/x-www-form-urlencoded; charset=UTF-8",//发送到服务器的数据编码类型。
        searchOnEnterKey:true,  /*回车搜索*/
        // searchAlign:"left",
        sidePagination:"server",
        sortOrder:'asc',
        sortName:'role_id',
        pageNumber:1,
        pageSize:10, //每页的记录行数
        pageList:[10, 25, 50, 100], //可供选择的每页的行数
        pagination: true, //是否显示分页
        showRefresh: true,
        showToggle: false,
        showColumns: true,
        striped: true, //是否显示行间隔色  
        iconSize: 'outline',
        toolbar: '#exampleTableEventsToolbar', //工具按钮用哪个容器
        icons: {
            refresh: 'glyphicon-repeat',
            toggle: 'glyphicon-list-alt',
            columns: 'glyphicon-list'
        },
        columns: [
            {  
                checkbox: true,  
            },   
           
            {
                field: 'role_name',
                title: '角色名称'
            }, 
             {
                field: 'role_comments',
                title: '角色备注'
            }, 
            
            {
                field: 'action',
                title: '操作',
                Events:operateEvents,
                formatter: function(value, row, index) {
                    return '<button class="btn btn-danger btn-sm btn-del" onclick="deleteItem('+row.role_id+')">删除</button>&nbsp;&nbsp;<button class="btn btn-success btn-sm btn-del" onclick="editItem('+row.role_id+')">编辑</button>';
                }
            }
        ],
        
        onLoadSuccess: function(res){  //加载成功时执行  
              // layer.msg("s");  
          }
        });

    var $result = $('#examplebtTableEventsResult');
    $('#exampleTableEvents').on('all.bs.table', function(e, name, args) {
     })
  })();

    function deleteItem(id) {//删除用户
        if (typeof id == 'number') {
            var id = id.toString();
        };
        layer.confirm('要删除此角色吗？', {
              btn: ['确认','取消'] //按钮
            }, function(){

                $.getJSON('role_del',{role_id:id},function(result){
                    if(result.state){   
                        layer.msg(result.msg);
                        $('#exampleTableEvents').bootstrapTable('refresh',{url: "role",
        silent: true});
                    }else{
                        layer.msg(result.msg);
                    }
                });
            });
    }
    function editItem(id){
        window.location.href = "<{base_url('admin.php/sites/role_edit')}>"+"?role_id="+id;
    }

$(window).resize(function () { /*页面缩放时调整表头位置*/
    $('#exampleTableEvents').bootstrapTable('resetView');
}); 
     
    </script>
</html>
