<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>Ontology</title>
    <{include file="library/inMeta.html" }>
    <link rel="stylesheet" href="<{TEMPLE}>css/NanumSquare-master/nanumsquare.css">
    <link rel="stylesheet" type="text/css" href="<{TEMPLE}>css/main.css">
    <script type="text/javascript" src="<{TEMPLE}>js/bootstrap-dropdown-on-hover.min.js"></script>
    <script type="text/javascript" src="<{TEMPLE}>js/skrollr.js"></script>
    <script type="text/javascript" src="<{TEMPLE}>js/swiper-3.4.2.min.js"></script>
    <script type="text/javascript" src="<{TEMPLE}>js/jsencrypt.js"></script>
    <script type="text/javascript" src="<{TEMPLE}>js/base64.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-113878921-1"></script>
    <script>
			window.dataLayer = window.dataLayer || [];

			function gtag() {
				dataLayer.push(arguments);
			}

			gtag('js', new Date());
			gtag('config', 'UA-113878921-1');
    </script>
</head>
<body style="padding:0">
<div id="browser" style="z-index: 1; background-repeat: no-repeat; background-size: 100%;">
    <{include file="library/bheader.html" }>
    <div id="toptarget"></div>
    <div id="developer" class="home-page-content back-color container-padding-first-dev container-val-background "
         style="z-index: 10;">
        <div class="developer-banner-wrapper">
            <div id="developer-banner" class=" home-detail zindex container-pos">
                <div class="dev-content-container">
                    <div class="row">
                        <div class="col-sm-12 text-center banner-head">
                            <h1 class="dev-head">Developer Center</h1></div>
                        <div class="col-sm-12 ">
                            <div class="col-sm-8 doc-wrapper">
                                <div class="col-sm-12 "><span class="dev-doc-title">Ontology Global Hackathon</span>
                                </div>
                                <div class="col-sm-12 dev-doc-text-wrapper">
                                    <p class="dev-doc-text">2018:<span>Beijing, Shanghai, Seoul, and Tokyo</span> </br>
                                        2019:<span> San Francisco, Boston, Berlin, and more.</span></p>
                                </div>
                                <div class="col-sm-12 ">
                                    <a href="https://hackathon.ont.io" target="_blank">
                                        <div class="dev-btn-size dev-btn-blue">Enter</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="developer-content-wrapper">
            <div class=" home-detail zindex container-pos">
                <div class="dev-content-container">
                    <div class="row">
                        <div class="col-sm-12 dev-hr-warpper-warpper">
                            <div class="col-sm-12  margin3-top">
                                <div class="col-sm-12  dev-sf-content-join"
                                     style=" background: url(<{TEMPLE}>img/punica_bg@2x.png) no-repeat 0 0;background-size: cover;">
                                    <div class="col-sm-2 text-center margin-top-18">
                                        <h2><img src="<{TEMPLE}>img/logo_punica@2x.png">
                                        </h2>
                                    </div>
                                    <div class="col-sm-8 dev-sf-text-wrapper text-center margin-top-15">
                                        <p class="dev-sf-text">Meet Punica Suite, Ontology’s</p>
                                        <p class="dev-sf-text">dApp development framework</p>
                                    </div>
                                    <div class="col-sm-2 padding0 text-center">
                                        <a href="https://punica.ont.io/" target="_blank"
                                           class="text-center">
                                            <div class="dev-btn-size-sf dev-btn-d">Go</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 dev-tool-warpper-warpper">
                            <div class="col-sm-6 dev-tool-warpper-left">
                                <div class="col-sm-12  dev-tool-content">
                                    <div class="col-sm-12 dev-tool-title-wrapper">
                                        <h2 class="dev-tool-title"><img src="<{TEMPLE}>img/smartx.png" class="tool-img">SmartX
                                        </h2></div>
                                    <div class="col-sm-12 dev-tool-text-wrapper">

                                        <p class="dev-tool-a"><a href="https://smartx.ont.io/">SmartX - The one-stop IDE
                                            →<i class="el-icon-d-arrow-right"></i></a></p>
                                        <p class="dev-tool-a"><a href="https://github.com/ONT-Avocados/python-template">Python
                                            smart contract template →<i class="el-icon-d-arrow-right"></i></a></p>
                                        <p class="dev-tool-a"><a href="https://github.com/ONT-Avocados/Wontology">A dApp
                                            example →<i class="el-icon-d-arrow-right"></i></a></p>


                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6 dev-tool-warpper-right">
                                <div class="col-sm-12  dev-tool-content">
                                    <div class="col-sm-12 dev-tool-title-wrapper">
                                        <h2 class="dev-tool-title"><img src="<{TEMPLE}>img/github.png" class="tool-img">GitHub
                                        </h2></div>
                                    <div class="col-sm-12 dev-tool-text-wrapper">
                                        <p class="dev-tool-text">Ontology is now open-source on GitHub. We welcome
                                            developers to join our technical community.</p>
                                    </div>
                                    <div class="col-sm-12 padding0">
                                        <a href="https://github.com/ontio" target="_blank">
                                            <div class="dev-btn-size dev-btn-g" style="margin: auto;">Go</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 dev-hr-warpper-warpper">
                            <div class="col-sm-12  margin3-bottom">
                                <div class="col-sm-12  dev-sf-content-sanfran"
                                     style="background: url(<{TEMPLE}>img/san-bg.png) no-repeat 0 0;background-size: cover;">
                                    <div class="col-sm-2 text-center">
                                        <h2><img src="<{TEMPLE}>img/recruit@2x.png"></h2></div>
                                    <div class="col-sm-8 dev-sf-text-wrapper text-center">
                                        <p class="dev-sf-text">San Francisco office is recruiting!</p>
                                    </div>
                                    <div class="col-sm-2 padding0 text-center">
                                        <a href="https://info.ont.io/static/file/SF_opening_1808.pdf" target="_blank"
                                           class="text-center">
                                            <div class="dev-btn-size-sf dev-btn-d">Detail</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 dev-tool-warpper-warpper">
                            <div class="col-sm-4 dev-tool-warpper-left">
                                <div class="col-sm-12  dev-tool-content-help">
                                    <div class="col-sm-12 dev-tool-title-wrapper">
                                        <h2 class="dev-tool-title-help">Guide</h2></div>
                                    <div class="col-sm-12 dev-tool-text-wrapper">

                                        <p class="dev-tool-a"><a
                                                href="https://ontio.github.io/documentation/tutorial_for_developer_en.html">Ontology
                                            Developer Guide</a></p>
                                        <p class="dev-tool-a"><a
                                                href="https://ontio.github.io/documentation/ontology_dapp_dev_tutorial_en.html">How
                                            to build a dAPP?</a></p>
                                        <p class="dev-tool-a"><a
                                                href="https://github.com/ontio-community/punica-demo/tree/master/punica-python-demo">Use
                                            Python SDK and create an</br> OEP-4 Token</a></p>
                                        <p class="dev-tool-a"><a
                                                href="https://github.com/ontio-community/punica-demo/tree/master/punica-ts-demo">Get
                                            started with Typescript SDK</br> and dAPI library</a></p>


                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4 dev-tool-warpper-right">
                                <div class="col-sm-12  dev-tool-content-help">
                                    <div class="col-sm-12 dev-tool-title-wrapper">
                                        <h2 class="dev-tool-title-help">Documentation Center</h2></div>
                                    <div class="col-sm-12 dev-tool-text-wrapper">


                                        <p class="dev-tool-a"><a
                                                href=" https://ont.io/wp/Ontology-Introductory-White-Paper-EN.pdf">Introductory
                                            White Paper</a></p>
                                        <p class="dev-tool-a"><a
                                                href=" https://github.com/ontio/Documentation/blob/master/Ontology-technology-white-paper-EN.pdf">Technical
                                            White Paper</a></p>
                                        <p class="dev-tool-a"><a
                                                href=" https://ont.io/wp/Ontology-Ecosystem-White-Paper-EN.pdf">Ecosystem
                                            White Paper</a></p>
                                    </div>
                                    <div class="col-sm-12 padding0">
                                        <a href="https://ontio.github.io/documentation/" target="_blank">
                                            <div class="dev-btn-size dev-btn-default" style="margin: auto;">See All
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 dev-tool-warpper-right">
                                <div class="col-sm-12  dev-tool-content-help">
                                    <div class="col-sm-12 dev-tool-title-wrapper">
                                        <h2 class="dev-tool-title-help">Toolkits</h2></div>
                                    <div class="col-sm-12 dev-tool-text-wrapper">

                                        <p class="dev-tool-a"><a
                                                href=" https://ontio.github.io/documentation/ontology_python_sdk_en.html">Python
                                            SDK</a></p>
                                        <p class="dev-tool-a"><a
                                                href=" https://ontio.github.io/documentation/ontology_ts_sdk_en.html">TypeScript
                                            SDK</a></p>
                                        <p class="dev-tool-a"><a
                                                href=" https://ontio.github.io/documentation/ontology_dapp_dapi_en.html">dAPI.js
                                            Library</a></p>
                                        <p class="dev-tool-a"><a
                                                href=" https://ontio.github.io/documentation/sigsvr_en.html">Signature
                                            Server</a></p>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="developer-Bounty-wrapper">
            <div class=" home-detail zindex container-pos bounty-list">
                <div class="dev-content-container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1 class="dev-bounty-head">Bounty Program</h1></div>
                        <div class="col-sm-12 text-center">
                            <p class="dev-bountydesc-text">Join us on various missions to get rewards.</br> New requests
                                or bounty ideas? Submit
                                <a href="https://bounty.ont.io/index.php/index/idea_form" target="_blank"
                                   class="bounty_contact_url"><span> here</span></a>.</p>
                        </div>
                        <div class="col-sm-12 text-center">
                            <p class="dev-bountydesc-text"><a href=" https://bounty.ont.io"><span class="view">View All →</span></a>
                            </p></div>
                        <div class="col-sm-12 text-center">
                            <{if isset($btat)&&!empty($btat)}>
                            <{foreach from=$btat item='info' name=foo }>
                            <div class="col-sm-3 bounty-claim-item-wrapper  <{if  $smarty.foreach.foo.index  neq 0 }> pc-display<{/if}> ">
                                <div class="bounty-claim-item"><img src="https://bounty.ont.io/<{$info.litpic}>"
                                                                    class="bounty-claim-img">
                                    <div class="col-sm-12 bounty-claim-text-wrapper">
                                        <p class="bounty-claim-text"><{$info.title}></p>
                                    </div>
                                    <div class="col-sm-12 bounty-claim-bouns-wrapper">
                                        <p class="bounty-claim-bouns"><{$info.shorttitle}></p>
                                    </div>
                                </div>
                                <div class="bounty-claim-item-hide">
                                    <div class="hiden-desc"><{$info.description}></div>
                                </div>
                                <div class="bounty-claim-btn-wrapper">
                                    <div>
                                        <a href="<{base_url('index.php/index/bounty_form')}>?id=<{$info.id}>">
                                            <div class="bounty-claim-btn">Claim it</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <{/foreach}>
                            <{/if}>
                        </div>
                        <!--<div class="col-sm-12 text-center bounty-more-warpper">
                            <div class="bounty-more-warpper-warpper" style="cursor: pointer;"><img src="<{TEMPLE}>img/star_l.png" class="bounty-more-img">
                                <div class="bounty-more-text" style="margin: auto;"><a href="<{base_url('index.php/index/index')}>" class="a-hover">Learn More</a></div>
                            </div>
                            <div class="bounty-more-text1">New requests or bounty ideas?
                                <a href="<{base_url('index.php/index/idea_form')}>" target="_blank" class="bounty_contact_url"><span> Let us know.</span></a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="developer-content-wrapper">
            <div class=" home-detail zindex container-pos">
                <div class="dev-content-container">
                    <div class="row">
                        <section id="test-application">
                            <div class="col-sm-12">
                                <div class="col-sm-5  text-center"><img src="<{TEMPLE}>img/img_test_ONT.svg"></div>
                                <div class="col-sm-7">
                                    <h2 class="title">Testing ONT/ONG Application</h2>
                                    <p class="info">If you are developing a ONT ecosystem application project, and need
                                        ONT/ONG in the TestNet,
                                        please fill in the following application form and send it. Once your application
                                        has been processed,
                                        you will receive an email notification.</p>
                                    <a href="https://bounty.ont.io/index.php/index/ont_form">
                                        <div class="dev-btn-size dev-btn-o btn-dgold"
                                             style="margin: auto;margin-top:32px;">Apply
                                        </div>
                                    </a>
                                    <!-- <div class="col-sm-12 ">
                                        <div class="col-sm-12 padding0">
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="container home-detail zindex "></div>
    </div>
    <{include file="library/dfooter.html" }>
</div>
</body>

</html>